# Dependencies
/node_modules

.env
.env.local
.env.development
.env.production
.env.example.local

# Umi temporary files
/src/.umi
/src/.umi-production
/src/.umi-test
/.umirc.local.ts
/config/config.local.ts

/dist

.swc
.turbopack
.eslintcache