USE [ThesisWorkspace]
GO
/****** Object:  Table [dbo].[Thesis]    Script Date: 23-May-26 10:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thesis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[session_id] [int] NOT NULL,
	[class_id] [int] NULL,
	[student_id] [int] NOT NULL,
	[lecturer_id] [int] NOT NULL,
	[suggestion_id] [int] NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[lecturer_status] [nvarchar](20) NOT NULL,
	[admin_status] [nvarchar](20) NOT NULL,
	[lecturer_note] [nvarchar](max) NULL,
	[reject_reason] [nvarchar](max) NULL,
	[approved_at] [datetime] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[final_score] [float] NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Thesis] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Milestones]    Script Date: 23-May-26 10:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Milestones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[thesis_id] [int] NOT NULL,
	[created_by] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[deadline] [datetime] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Milestones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_ThesisProgress]    Script Date: 23-May-26 10:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- VIEW: Tiến độ thesis — số milestone hoàn thành / tổng
-- ============================================================
CREATE   VIEW [dbo].[VW_ThesisProgress]
AS
    SELECT
        t.id                                        AS thesis_id,
        t.title,
        t.student_id,
        t.lecturer_id,
        COUNT(m.id)                                 AS total_milestones,
        SUM(CASE WHEN m.status = 'completed' THEN 1 ELSE 0 END) AS completed_milestones,
        SUM(CASE WHEN m.status = 'overdue'   THEN 1 ELSE 0 END) AS overdue_milestones
    FROM [dbo].[Thesis] t
    LEFT JOIN [dbo].[Milestones] m ON m.thesis_id = t.id
    GROUP BY t.id, t.title, t.student_id, t.lecturer_id
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 23-May-26 10:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[actor_id] [int] NULL,
	[actor_name] [nvarchar](100) NULL,
	[action] [nvarchar](100) NOT NULL,
	[target_table] [nvarchar](50) NULL,
	[target_id] [int] NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[ip_address] [nvarchar](45) NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 23-May-26 10:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[session_id] [int] NOT NULL,
	[class_name] [nvarchar](100) NOT NULL,
	[course_name] [nvarchar](200) NULL,
	[lecturer_id] [int] NOT NULL,
	[max_students] [int] NOT NULL,
	[description] [nvarchar](500) NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassStudents]    Script Date: 23-May-26 10:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassStudents](
	[class_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[joined_at] [datetime] NOT NULL,
 CONSTRAINT [PK_ClassStudents] PRIMARY KEY CLUSTERED 
(
	[class_id] ASC,
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 23-May-26 10:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[submission_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MilestoneTemplates]    Script Date: 23-May-26 10:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MilestoneTemplates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[class_id] [int] NOT NULL,
	[created_by] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[deadline] [datetime] NOT NULL,
	[order_no] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_MilestoneTemplates] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 23-May-26 10:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[message] [nvarchar](max) NULL,
	[ref_type] [nvarchar](50) NULL,
	[ref_id] [int] NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 23-May-26 10:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Sessions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submissions]    Script Date: 23-May-26 10:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[milestone_id] [int] NOT NULL,
	[thesis_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[file_url] [nvarchar](500) NOT NULL,
	[file_name] [nvarchar](255) NULL,
	[file_size] [bigint] NULL,
	[note] [nvarchar](max) NULL,
	[score] [decimal](5, 2) NULL,
	[status] [nvarchar](20) NOT NULL,
	[submitted_at] [datetime] NOT NULL,
	[graded_at] [datetime] NULL,
 CONSTRAINT [PK_Submissions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopicSuggestions]    Script Date: 23-May-26 10:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopicSuggestions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[session_id] [int] NOT NULL,
	[lecturer_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[max_groups] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_TopicSuggestions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 23-May-26 10:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[user_id] [int] NOT NULL,
	[student_code] [nvarchar](20) NULL,
	[phone] [nvarchar](20) NULL,
	[avatar_url] [nvarchar](500) NULL,
	[department] [nvarchar](100) NULL,
	[bio] [nvarchar](500) NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_UserProfiles] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23-May-26 10:10:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[is_active] [bit] NOT NULL,
	[last_login] [datetime] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuditLogs] ON 

INSERT [dbo].[AuditLogs] ([id], [actor_id], [actor_name], [action], [target_table], [target_id], [old_value], [new_value], [ip_address], [created_at]) VALUES (1, NULL, N'Admin Tổng', N'APPROVE', N'Thesis', 1, NULL, N'{"admin_status":"approved"}', NULL, CAST(N'2026-05-15T22:23:34.357' AS DateTime))
INSERT [dbo].[AuditLogs] ([id], [actor_id], [actor_name], [action], [target_table], [target_id], [old_value], [new_value], [ip_address], [created_at]) VALUES (2, NULL, N'Admin Tổng', N'CREATE', N'Classes', 1, NULL, N'{"class_name":"L01_Nhom01","session_id":1}', NULL, CAST(N'2026-05-15T22:23:34.357' AS DateTime))
INSERT [dbo].[AuditLogs] ([id], [actor_id], [actor_name], [action], [target_table], [target_id], [old_value], [new_value], [ip_address], [created_at]) VALUES (3, 2, N'GV Nguyễn Văn Thắng', N'APPROVE', N'Thesis', 1, NULL, N'{"lecturer_status":"approved"}', NULL, CAST(N'2026-05-15T22:23:34.357' AS DateTime))
SET IDENTITY_INSERT [dbo].[AuditLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([id], [session_id], [class_name], [course_name], [lecturer_id], [max_students], [description], [created_at]) VALUES (1, 3, N'L01_Nhom01', N'Đồ án Cơ sở', 14, 30, NULL, CAST(N'2026-05-15T22:23:34.307' AS DateTime))
INSERT [dbo].[Classes] ([id], [session_id], [class_name], [course_name], [lecturer_id], [max_students], [description], [created_at]) VALUES (2, 2, N'L01_Nhom02', N'Quản lý dự án', 4, 30, NULL, CAST(N'2026-05-15T22:23:34.307' AS DateTime))
INSERT [dbo].[Classes] ([id], [session_id], [class_name], [course_name], [lecturer_id], [max_students], [description], [created_at]) VALUES (3, 3, N'L01_Nhom03', N'abc', 3, 30, NULL, CAST(N'2026-05-16T09:38:35.770' AS DateTime))
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
INSERT [dbo].[ClassStudents] ([class_id], [student_id], [joined_at]) VALUES (1, 5, CAST(N'2026-05-15T22:23:34.310' AS DateTime))
INSERT [dbo].[ClassStudents] ([class_id], [student_id], [joined_at]) VALUES (1, 6, CAST(N'2026-05-15T22:23:34.310' AS DateTime))
INSERT [dbo].[ClassStudents] ([class_id], [student_id], [joined_at]) VALUES (2, 8, CAST(N'2026-05-15T22:23:34.310' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([id], [submission_id], [user_id], [content], [created_at], [updated_at]) VALUES (1, 1, 2, N'Đề cương rõ ràng, cần bổ sung phần phân tích yêu cầu chi tiết hơn.', CAST(N'2026-05-15T22:23:34.347' AS DateTime), CAST(N'2026-05-15T22:23:34.347' AS DateTime))
INSERT [dbo].[Comments] ([id], [submission_id], [user_id], [content], [created_at], [updated_at]) VALUES (2, 3, 2, N'Cần làm rõ hơn về công nghệ sử dụng và kiến trúc hệ thống.', CAST(N'2026-05-15T22:23:34.347' AS DateTime), CAST(N'2026-05-15T22:23:34.347' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Milestones] ON 

INSERT [dbo].[Milestones] ([id], [thesis_id], [created_by], [title], [description], [deadline], [status], [created_at]) VALUES (1, 1, 2, N'Nộp đề cương', N'Tài liệu mô tả bài toán và hướng giải quyết', CAST(N'2026-03-01T00:00:00.000' AS DateTime), N'completed', CAST(N'2026-05-15T22:23:34.333' AS DateTime))
INSERT [dbo].[Milestones] ([id], [thesis_id], [created_by], [title], [description], [deadline], [status], [created_at]) VALUES (2, 1, 2, N'Báo cáo giữa kỳ', N'Demo 50% sản phẩm và slide báo cáo', CAST(N'2026-04-15T00:00:00.000' AS DateTime), N'completed', CAST(N'2026-05-15T22:23:34.333' AS DateTime))
INSERT [dbo].[Milestones] ([id], [thesis_id], [created_by], [title], [description], [deadline], [status], [created_at]) VALUES (3, 1, 2, N'Nộp sản phẩm cuối', N'Source code + tài liệu + báo cáo hoàn chỉnh', CAST(N'2026-06-01T00:00:00.000' AS DateTime), N'pending', CAST(N'2026-05-15T22:23:34.333' AS DateTime))
SET IDENTITY_INSERT [dbo].[Milestones] OFF
GO
SET IDENTITY_INSERT [dbo].[MilestoneTemplates] ON 

INSERT [dbo].[MilestoneTemplates] ([id], [class_id], [created_by], [title], [description], [deadline], [order_no], [created_at]) VALUES (1, 1, 2, N'Nộp đề cương', N'Tài liệu mô tả bài toán và hướng giải quyết', CAST(N'2026-03-01T00:00:00.000' AS DateTime), 1, CAST(N'2026-05-15T22:46:20.603' AS DateTime))
INSERT [dbo].[MilestoneTemplates] ([id], [class_id], [created_by], [title], [description], [deadline], [order_no], [created_at]) VALUES (2, 1, 2, N'Báo cáo giữa kỳ', N'Demo 50% sản phẩm và slide báo cáo', CAST(N'2026-04-15T00:00:00.000' AS DateTime), 2, CAST(N'2026-05-15T22:46:20.603' AS DateTime))
INSERT [dbo].[MilestoneTemplates] ([id], [class_id], [created_by], [title], [description], [deadline], [order_no], [created_at]) VALUES (3, 1, 2, N'Nộp sản phẩm cuối', N'Source code + tài liệu + báo cáo hoàn chỉnh', CAST(N'2026-06-01T00:00:00.000' AS DateTime), 3, CAST(N'2026-05-15T22:46:20.603' AS DateTime))
SET IDENTITY_INSERT [dbo].[MilestoneTemplates] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([id], [user_id], [type], [title], [message], [ref_type], [ref_id], [is_read], [created_at]) VALUES (1, 5, N'thesis_approved', N'Đề tài đã được duyệt', N'Đề tài "Xây dựng hệ thống quản lý đồ án" đã được Admin duyệt.', N'thesis', 1, 1, CAST(N'2026-05-15T22:23:34.350' AS DateTime))
INSERT [dbo].[Notifications] ([id], [user_id], [type], [title], [message], [ref_type], [ref_id], [is_read], [created_at]) VALUES (2, 5, N'submission_graded', N'Bài nộp đã được chấm điểm', N'Milestone "Nộp đề cương" đã được GV chấm: 8.5/10', N'submission', 1, 0, CAST(N'2026-05-15T22:23:34.350' AS DateTime))
INSERT [dbo].[Notifications] ([id], [user_id], [type], [title], [message], [ref_type], [ref_id], [is_read], [created_at]) VALUES (3, 6, N'thesis_approved', N'GV đã xem xét đề tài', N'Đề tài của bạn đang chờ Admin duyệt chính thức.', N'thesis', 2, 0, CAST(N'2026-05-15T22:23:34.350' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Sessions] ON 

INSERT [dbo].[Sessions] ([id], [name], [start_date], [end_date], [is_active], [created_by], [created_at]) VALUES (1, N'HK2-2026', CAST(N'2026-01-15T00:00:00.000' AS DateTime), CAST(N'2026-06-15T00:00:00.000' AS DateTime), 0, NULL, CAST(N'2026-05-14T21:50:15.857' AS DateTime))
INSERT [dbo].[Sessions] ([id], [name], [start_date], [end_date], [is_active], [created_by], [created_at]) VALUES (2, N'HK1-2027', CAST(N'2026-09-01T00:00:00.000' AS DateTime), CAST(N'2027-01-15T00:00:00.000' AS DateTime), 0, NULL, CAST(N'2026-05-14T21:50:15.857' AS DateTime))
INSERT [dbo].[Sessions] ([id], [name], [start_date], [end_date], [is_active], [created_by], [created_at]) VALUES (3, N'HK2-2027', CAST(N'2026-05-15T17:00:00.000' AS DateTime), CAST(N'2026-05-27T17:00:00.000' AS DateTime), 0, NULL, CAST(N'2026-05-16T09:37:49.580' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[Submissions] ON 

INSERT [dbo].[Submissions] ([id], [milestone_id], [thesis_id], [student_id], [file_url], [file_name], [file_size], [note], [score], [status], [submitted_at], [graded_at]) VALUES (1, 1, 1, 5, N'/uploads/thesis1/decuong_vinh.pdf', N'decuong_vinh.pdf', NULL, N'Nộp đúng hạn', CAST(8.50 AS Decimal(5, 2)), N'graded', CAST(N'2026-02-28T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Submissions] ([id], [milestone_id], [thesis_id], [student_id], [file_url], [file_name], [file_size], [note], [score], [status], [submitted_at], [graded_at]) VALUES (2, 2, 1, 5, N'/uploads/thesis1/baocao_giuaky.pdf', N'baocao_giuaky.pdf', NULL, N'Slide + demo link', NULL, N'submitted', CAST(N'2026-04-14T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Submissions] ([id], [milestone_id], [thesis_id], [student_id], [file_url], [file_name], [file_size], [note], [score], [status], [submitted_at], [graded_at]) VALUES (3, 4, 2, 6, N'/uploads/thesis2/decuong_thi_b.docx', N'decuong_thi_b.docx', NULL, NULL, CAST(7.00 AS Decimal(5, 2)), N'graded', CAST(N'2026-03-01T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Submissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Thesis] ON 

INSERT [dbo].[Thesis] ([id], [session_id], [class_id], [student_id], [lecturer_id], [suggestion_id], [title], [description], [lecturer_status], [admin_status], [lecturer_note], [reject_reason], [approved_at], [created_at], [updated_at], [final_score], [status]) VALUES (1, 1, 1, 5, 2, 1, N'Xây dựng hệ thống quản lý đồ án', N'Ứng dụng UmiJS + Ant Design + Node.js', N'approved', N'approved', NULL, NULL, NULL, CAST(N'2026-05-15T22:23:34.327' AS DateTime), CAST(N'2026-05-16T09:26:21.760' AS DateTime), NULL, N'pending')
INSERT [dbo].[Thesis] ([id], [session_id], [class_id], [student_id], [lecturer_id], [suggestion_id], [title], [description], [lecturer_status], [admin_status], [lecturer_note], [reject_reason], [approved_at], [created_at], [updated_at], [final_score], [status]) VALUES (2, 1, 1, 6, 2, NULL, N'Website bán hàng trực tuyến', N'E-commerce với React và Node.js', N'approved', N'pending', NULL, NULL, NULL, CAST(N'2026-05-15T22:23:34.327' AS DateTime), CAST(N'2026-05-16T09:26:21.760' AS DateTime), NULL, N'pending')
INSERT [dbo].[Thesis] ([id], [session_id], [class_id], [student_id], [lecturer_id], [suggestion_id], [title], [description], [lecturer_status], [admin_status], [lecturer_note], [reject_reason], [approved_at], [created_at], [updated_at], [final_score], [status]) VALUES (3, 1, 2, 8, 4, 3, N'Phân tích dữ liệu học tập', N'Sử dụng Python + ML', N'pending', N'pending', NULL, NULL, NULL, CAST(N'2026-05-15T22:23:34.327' AS DateTime), CAST(N'2026-05-16T09:26:21.760' AS DateTime), NULL, N'pending')
SET IDENTITY_INSERT [dbo].[Thesis] OFF
GO
SET IDENTITY_INSERT [dbo].[TopicSuggestions] ON 

INSERT [dbo].[TopicSuggestions] ([id], [session_id], [lecturer_id], [title], [description], [max_groups], [status], [created_at], [updated_at]) VALUES (1, 1, 2, N'Xây dựng hệ thống quản lý đồ án', N'Ứng dụng web quản lý tiến độ đồ án sinh viên', 2, N'open', CAST(N'2026-05-14T21:50:16.193' AS DateTime), CAST(N'2026-05-14T21:50:16.193' AS DateTime))
INSERT [dbo].[TopicSuggestions] ([id], [session_id], [lecturer_id], [title], [description], [max_groups], [status], [created_at], [updated_at]) VALUES (2, 1, 2, N'Ứng dụng tra cứu thời khóa biểu', N'Tích hợp API lịch học PTIT', 1, N'open', CAST(N'2026-05-14T21:50:16.193' AS DateTime), CAST(N'2026-05-14T21:50:16.193' AS DateTime))
INSERT [dbo].[TopicSuggestions] ([id], [session_id], [lecturer_id], [title], [description], [max_groups], [status], [created_at], [updated_at]) VALUES (3, 1, 3, N'Phân tích dữ liệu học tập bằng ML', N'Dự đoán kết quả học tập sinh viên', 1, N'open', CAST(N'2026-05-14T21:50:16.193' AS DateTime), CAST(N'2026-05-14T21:50:16.193' AS DateTime))
SET IDENTITY_INSERT [dbo].[TopicSuggestions] OFF
GO
INSERT [dbo].[UserProfiles] ([user_id], [student_code], [phone], [avatar_url], [department], [bio], [updated_at]) VALUES (2, NULL, N'0912000001', NULL, N'Công nghệ Thông tin', NULL, CAST(N'2026-05-15T22:23:34.300' AS DateTime))
INSERT [dbo].[UserProfiles] ([user_id], [student_code], [phone], [avatar_url], [department], [bio], [updated_at]) VALUES (3, NULL, N'0912000002', NULL, N'Công nghệ Thông tin', NULL, CAST(N'2026-05-15T22:23:34.300' AS DateTime))
INSERT [dbo].[UserProfiles] ([user_id], [student_code], [phone], [avatar_url], [department], [bio], [updated_at]) VALUES (4, NULL, N'0912000003', NULL, N'Điện tử Viễn thông', NULL, CAST(N'2026-05-15T22:23:34.300' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [name], [email], [password_hash], [role], [is_active], [last_login], [created_at], [updated_at]) VALUES (2, N'GV Nguyễn Văn Thắng', N'thangnv@ptit.edu.vn', N'$2b$10$XB1CembipF9TJrsg2zNsWeL7dcrtKaaBh6G0kMXXr.10yeOE2VAOS', N'lecturer', 1, NULL, CAST(N'2026-05-14T21:50:15.873' AS DateTime), CAST(N'2026-05-16T08:33:12.617' AS DateTime))
INSERT [dbo].[Users] ([id], [name], [email], [password_hash], [role], [is_active], [last_login], [created_at], [updated_at]) VALUES (3, N'GV Lê Thị Hồng', N'honglt@ptit.edu.vn', N'$2b$10$XB1CembipF9TJrsg2zNsWeL7dcrtKaaBh6G0kMXXr.10yeOE2VAOS', N'lecturer', 1, NULL, CAST(N'2026-05-14T21:50:15.873' AS DateTime), CAST(N'2026-05-14T21:50:15.873' AS DateTime))
INSERT [dbo].[Users] ([id], [name], [email], [password_hash], [role], [is_active], [last_login], [created_at], [updated_at]) VALUES (4, N'GV Trần Đức Anh', N'anhtd@ptit.edu.vn', N'$2b$10$XB1CembipF9TJrsg2zNsWeL7dcrtKaaBh6G0kMXXr.10yeOE2VAOS', N'lecturer', 1, NULL, CAST(N'2026-05-14T21:50:15.873' AS DateTime), CAST(N'2026-05-14T21:50:15.873' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Sessions_Name]    Script Date: 23-May-26 10:10:07 PM ******/
ALTER TABLE [dbo].[Sessions] ADD  CONSTRAINT [UQ_Sessions_Name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 23-May-26 10:10:07 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Classes] ADD  DEFAULT ((30)) FOR [max_students]
GO
ALTER TABLE [dbo].[Classes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ClassStudents] ADD  DEFAULT (getdate()) FOR [joined_at]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Milestones] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Milestones] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[MilestoneTemplates] ADD  CONSTRAINT [DF_MilestoneTemplates_OrderNo]  DEFAULT ((1)) FOR [order_no]
GO
ALTER TABLE [dbo].[MilestoneTemplates] ADD  CONSTRAINT [DF_MilestoneTemplates_CreatedAt]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Sessions] ADD  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [dbo].[Sessions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT ('submitted') FOR [status]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT (getdate()) FOR [submitted_at]
GO
ALTER TABLE [dbo].[Thesis] ADD  DEFAULT ('pending') FOR [lecturer_status]
GO
ALTER TABLE [dbo].[Thesis] ADD  DEFAULT ('pending') FOR [admin_status]
GO
ALTER TABLE [dbo].[Thesis] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Thesis] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[TopicSuggestions] ADD  DEFAULT ((1)) FOR [max_groups]
GO
ALTER TABLE [dbo].[TopicSuggestions] ADD  DEFAULT ('open') FOR [status]
GO
ALTER TABLE [dbo].[TopicSuggestions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[TopicSuggestions] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Actor] FOREIGN KEY([actor_id])
REFERENCES [dbo].[Users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Actor]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Lecturer] FOREIGN KEY([lecturer_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Lecturer]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Session] FOREIGN KEY([session_id])
REFERENCES [dbo].[Sessions] ([id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Session]
GO
ALTER TABLE [dbo].[ClassStudents]  WITH CHECK ADD  CONSTRAINT [FK_ClassStudents_Class] FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassStudents] CHECK CONSTRAINT [FK_ClassStudents_Class]
GO
ALTER TABLE [dbo].[ClassStudents]  WITH CHECK ADD  CONSTRAINT [FK_ClassStudents_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassStudents] CHECK CONSTRAINT [FK_ClassStudents_Student]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Submission] FOREIGN KEY([submission_id])
REFERENCES [dbo].[Submissions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Submission]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_User]
GO
ALTER TABLE [dbo].[Milestones]  WITH CHECK ADD  CONSTRAINT [FK_Milestones_Creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Milestones] CHECK CONSTRAINT [FK_Milestones_Creator]
GO
ALTER TABLE [dbo].[Milestones]  WITH CHECK ADD  CONSTRAINT [FK_Milestones_Thesis] FOREIGN KEY([thesis_id])
REFERENCES [dbo].[Thesis] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Milestones] CHECK CONSTRAINT [FK_Milestones_Thesis]
GO
ALTER TABLE [dbo].[MilestoneTemplates]  WITH CHECK ADD  CONSTRAINT [FK_MilestoneTemplates_Class] FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MilestoneTemplates] CHECK CONSTRAINT [FK_MilestoneTemplates_Class]
GO
ALTER TABLE [dbo].[MilestoneTemplates]  WITH CHECK ADD  CONSTRAINT [FK_MilestoneTemplates_Creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[MilestoneTemplates] CHECK CONSTRAINT [FK_MilestoneTemplates_Creator]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_User]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_Creator]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Milestone] FOREIGN KEY([milestone_id])
REFERENCES [dbo].[Milestones] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Milestone]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Student]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Thesis] FOREIGN KEY([thesis_id])
REFERENCES [dbo].[Thesis] ([id])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Thesis]
GO
ALTER TABLE [dbo].[Thesis]  WITH CHECK ADD  CONSTRAINT [FK_Thesis_Class] FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([id])
GO
ALTER TABLE [dbo].[Thesis] CHECK CONSTRAINT [FK_Thesis_Class]
GO
ALTER TABLE [dbo].[Thesis]  WITH CHECK ADD  CONSTRAINT [FK_Thesis_Lecturer] FOREIGN KEY([lecturer_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Thesis] CHECK CONSTRAINT [FK_Thesis_Lecturer]
GO
ALTER TABLE [dbo].[Thesis]  WITH CHECK ADD  CONSTRAINT [FK_Thesis_Session] FOREIGN KEY([session_id])
REFERENCES [dbo].[Sessions] ([id])
GO
ALTER TABLE [dbo].[Thesis] CHECK CONSTRAINT [FK_Thesis_Session]
GO
ALTER TABLE [dbo].[Thesis]  WITH CHECK ADD  CONSTRAINT [FK_Thesis_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Thesis] CHECK CONSTRAINT [FK_Thesis_Student]
GO
ALTER TABLE [dbo].[Thesis]  WITH CHECK ADD  CONSTRAINT [FK_Thesis_Suggestion] FOREIGN KEY([suggestion_id])
REFERENCES [dbo].[TopicSuggestions] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Thesis] CHECK CONSTRAINT [FK_Thesis_Suggestion]
GO
ALTER TABLE [dbo].[TopicSuggestions]  WITH CHECK ADD  CONSTRAINT [FK_TopicSug_Lecturer] FOREIGN KEY([lecturer_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[TopicSuggestions] CHECK CONSTRAINT [FK_TopicSug_Lecturer]
GO
ALTER TABLE [dbo].[TopicSuggestions]  WITH CHECK ADD  CONSTRAINT [FK_TopicSug_Session] FOREIGN KEY([session_id])
REFERENCES [dbo].[Sessions] ([id])
GO
ALTER TABLE [dbo].[TopicSuggestions] CHECK CONSTRAINT [FK_TopicSug_Session]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_UserProfiles_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK_UserProfiles_Users]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [CK_Classes_MaxStudents] CHECK  (([max_students]>(0)))
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [CK_Classes_MaxStudents]
GO
ALTER TABLE [dbo].[Milestones]  WITH CHECK ADD  CONSTRAINT [CK_Milestones_Status] CHECK  (([status]='overdue' OR [status]='completed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[Milestones] CHECK CONSTRAINT [CK_Milestones_Status]
GO
ALTER TABLE [dbo].[MilestoneTemplates]  WITH CHECK ADD  CONSTRAINT [CK_MilestoneTemplates_Order] CHECK  (([order_no]>=(1)))
GO
ALTER TABLE [dbo].[MilestoneTemplates] CHECK CONSTRAINT [CK_MilestoneTemplates_Order]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [CK_Sessions_Dates] CHECK  (([end_date]>[start_date]))
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [CK_Sessions_Dates]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [CK_Submissions_Score] CHECK  (([score] IS NULL OR [score]>=(0) AND [score]<=(10)))
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [CK_Submissions_Score]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [CK_Submissions_Status] CHECK  (([status]='late' OR [status]='graded' OR [status]='submitted'))
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [CK_Submissions_Status]
GO
ALTER TABLE [dbo].[Thesis]  WITH CHECK ADD  CONSTRAINT [CK_Thesis_AdminStatus] CHECK  (([admin_status]='rejected' OR [admin_status]='approved' OR [admin_status]='pending'))
GO
ALTER TABLE [dbo].[Thesis] CHECK CONSTRAINT [CK_Thesis_AdminStatus]
GO
ALTER TABLE [dbo].[Thesis]  WITH CHECK ADD  CONSTRAINT [CK_Thesis_LecturerStatus] CHECK  (([lecturer_status]='rejected' OR [lecturer_status]='approved' OR [lecturer_status]='pending'))
GO
ALTER TABLE [dbo].[Thesis] CHECK CONSTRAINT [CK_Thesis_LecturerStatus]
GO
ALTER TABLE [dbo].[TopicSuggestions]  WITH CHECK ADD  CONSTRAINT [CK_TopicSug_Status] CHECK  (([status]='draft' OR [status]='closed' OR [status]='open'))
GO
ALTER TABLE [dbo].[TopicSuggestions] CHECK CONSTRAINT [CK_TopicSug_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([role]='student' OR [role]='lecturer' OR [role]='admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
