USE [ThesisWorkspace]
GO
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [CK_Users_Role]
GO
ALTER TABLE [dbo].[TopicSuggestions] DROP CONSTRAINT [CK_TopicSug_Status]
GO
ALTER TABLE [dbo].[Thesis] DROP CONSTRAINT [CK_Thesis_LecturerStatus]
GO
ALTER TABLE [dbo].[Thesis] DROP CONSTRAINT [CK_Thesis_AdminStatus]
GO
ALTER TABLE [dbo].[Submissions] DROP CONSTRAINT [CK_Submissions_Status]
GO
ALTER TABLE [dbo].[Submissions] DROP CONSTRAINT [CK_Submissions_Score]
GO
ALTER TABLE [dbo].[Milestones] DROP CONSTRAINT [CK_Milestones_Status]
GO
ALTER TABLE [dbo].[UserProfiles] DROP CONSTRAINT [FK_UserProfiles_Users]
GO
ALTER TABLE [dbo].[TopicSuggestions] DROP CONSTRAINT [FK_TopicSug_Session]
GO
ALTER TABLE [dbo].[TopicSuggestions] DROP CONSTRAINT [FK_TopicSug_Lecturer]
GO
ALTER TABLE [dbo].[Thesis] DROP CONSTRAINT [FK_Thesis_Suggestion]
GO
ALTER TABLE [dbo].[Thesis] DROP CONSTRAINT [FK_Thesis_Student]
GO
ALTER TABLE [dbo].[Thesis] DROP CONSTRAINT [FK_Thesis_Session]
GO
ALTER TABLE [dbo].[Thesis] DROP CONSTRAINT [FK_Thesis_Lecturer]
GO
ALTER TABLE [dbo].[Thesis] DROP CONSTRAINT [FK_Thesis_Class]
GO
ALTER TABLE [dbo].[Submissions] DROP CONSTRAINT [FK_Submissions_Thesis]
GO
ALTER TABLE [dbo].[Submissions] DROP CONSTRAINT [FK_Submissions_Student]
GO
ALTER TABLE [dbo].[Submissions] DROP CONSTRAINT [FK_Submissions_Milestone]
GO
ALTER TABLE [dbo].[Notifications] DROP CONSTRAINT [FK_Notifications_User]
GO
ALTER TABLE [dbo].[MilestoneTemplates] DROP CONSTRAINT [FK_MilestoneTemplates_Class]
GO
ALTER TABLE [dbo].[Milestones] DROP CONSTRAINT [FK_Milestones_Thesis]
GO
ALTER TABLE [dbo].[Comments] DROP CONSTRAINT [FK_Comments_User]
GO
ALTER TABLE [dbo].[Comments] DROP CONSTRAINT [FK_Comments_Submission]
GO
ALTER TABLE [dbo].[ClassStudents] DROP CONSTRAINT [FK_ClassStudents_Student]
GO
ALTER TABLE [dbo].[ClassStudents] DROP CONSTRAINT [FK_ClassStudents_Class]
GO
ALTER TABLE [dbo].[Classes] DROP CONSTRAINT [FK_Classes_Session]
GO
ALTER TABLE [dbo].[Classes] DROP CONSTRAINT [FK_Classes_Lecturer]
GO
ALTER TABLE [dbo].[AuditLogs] DROP CONSTRAINT [FK_AuditLogs_Actor]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/5/2026 2:28:05 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 6/5/2026 2:28:05 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserProfiles]') AND type in (N'U'))
DROP TABLE [dbo].[UserProfiles]
GO
/****** Object:  Table [dbo].[TopicSuggestions]    Script Date: 6/5/2026 2:28:05 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TopicSuggestions]') AND type in (N'U'))
DROP TABLE [dbo].[TopicSuggestions]
GO
/****** Object:  Table [dbo].[Submissions]    Script Date: 6/5/2026 2:28:05 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Submissions]') AND type in (N'U'))
DROP TABLE [dbo].[Submissions]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 6/5/2026 2:28:05 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Sessions]') AND type in (N'U'))
DROP TABLE [dbo].[Sessions]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 6/5/2026 2:28:05 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Notifications]') AND type in (N'U'))
DROP TABLE [dbo].[Notifications]
GO
/****** Object:  Table [dbo].[MilestoneTemplates]    Script Date: 6/5/2026 2:28:05 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MilestoneTemplates]') AND type in (N'U'))
DROP TABLE [dbo].[MilestoneTemplates]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 6/5/2026 2:28:05 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Comments]') AND type in (N'U'))
DROP TABLE [dbo].[Comments]
GO
/****** Object:  Table [dbo].[ClassStudents]    Script Date: 6/5/2026 2:28:05 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClassStudents]') AND type in (N'U'))
DROP TABLE [dbo].[ClassStudents]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 6/5/2026 2:28:05 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Classes]') AND type in (N'U'))
DROP TABLE [dbo].[Classes]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 6/5/2026 2:28:05 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AuditLogs]') AND type in (N'U'))
DROP TABLE [dbo].[AuditLogs]
GO
/****** Object:  View [dbo].[VW_ThesisProgress]    Script Date: 6/5/2026 2:28:05 PM ******/
DROP VIEW [dbo].[VW_ThesisProgress]
GO
/****** Object:  Table [dbo].[Milestones]    Script Date: 6/5/2026 2:28:05 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Milestones]') AND type in (N'U'))
DROP TABLE [dbo].[Milestones]
GO
/****** Object:  Table [dbo].[Thesis]    Script Date: 6/5/2026 2:28:05 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Thesis]') AND type in (N'U'))
DROP TABLE [dbo].[Thesis]
GO
USE [master]
GO
/****** Object:  Database [ThesisWorkspace]    Script Date: 6/5/2026 2:28:05 PM ******/
DROP DATABASE [ThesisWorkspace]
GO
/****** Object:  Database [ThesisWorkspace]    Script Date: 6/5/2026 2:28:05 PM ******/
CREATE DATABASE [ThesisWorkspace]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThesisWorkspace', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ThesisWorkspace.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ThesisWorkspace_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ThesisWorkspace_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThesisWorkspace].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThesisWorkspace]
GO
/****** Object:  Table [dbo].[Thesis]    Script Date: 6/5/2026 2:28:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thesis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[session_id] [int] NOT NULL,
	[class_id] [int] NULL,
	[student_id] [int] NOT NULL,
	[lecturer_id] [int] NOT NULL,
	[suggestion_id] [int] NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[lecturer_status] [nvarchar](20) NOT NULL,
	[admin_status] [nvarchar](20) NOT NULL,
	[lecturer_note] [nvarchar](max) NULL,
	[reject_reason] [nvarchar](max) NULL,
	[approved_at] [datetime] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[final_score] [decimal](4, 2) NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Thesis] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Milestones]    Script Date: 6/5/2026 2:28:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Milestones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[thesis_id] [int] NOT NULL,
	[created_by] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[deadline] [datetime] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Milestones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_ThesisProgress]    Script Date: 6/5/2026 2:28:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================
-- II. TẠO KHUNG NHÌN (VIEWS)
-- ==========================================
CREATE VIEW [dbo].[VW_ThesisProgress]
AS
    SELECT
        t.id                                        AS thesis_id,
        t.title,
        t.student_id,
        t.lecturer_id,
        COUNT(m.id)                                 AS total_milestones,
        SUM(CASE WHEN m.status = 'completed' THEN 1 ELSE 0 END) AS completed_milestones,
        SUM(CASE WHEN m.status = 'overdue'   THEN 1 ELSE 0 END) AS overdue_milestones
    FROM [dbo].[Thesis] t
    LEFT JOIN [dbo].[Milestones] m ON m.thesis_id = t.id
    GROUP BY t.id, t.title, t.student_id, t.lecturer_id
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 6/5/2026 2:28:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[actor_id] [int] NULL,
	[actor_name] [nvarchar](100) NULL,
	[action] [nvarchar](100) NOT NULL,
	[target_table] [nvarchar](50) NULL,
	[target_id] [int] NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[ip_address] [nvarchar](45) NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 6/5/2026 2:28:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[session_id] [int] NOT NULL,
	[class_name] [nvarchar](100) NOT NULL,
	[course_name] [nvarchar](200) NULL,
	[lecturer_id] [int] NOT NULL,
	[max_students] [int] NOT NULL,
	[description] [nvarchar](500) NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassStudents]    Script Date: 6/5/2026 2:28:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassStudents](
	[class_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[joined_at] [datetime] NOT NULL,
 CONSTRAINT [PK_ClassStudents] PRIMARY KEY CLUSTERED 
(
	[class_id] ASC,
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 6/5/2026 2:28:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[submission_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MilestoneTemplates]    Script Date: 6/5/2026 2:28:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MilestoneTemplates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[class_id] [int] NOT NULL,
	[created_by] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[deadline] [datetime] NOT NULL,
	[order_no] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_MilestoneTemplates] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 6/5/2026 2:28:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[message] [nvarchar](max) NULL,
	[ref_type] [nvarchar](50) NULL,
	[ref_id] [int] NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 6/5/2026 2:28:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Sessions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submissions]    Script Date: 6/5/2026 2:28:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[milestone_id] [int] NOT NULL,
	[thesis_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[file_url] [nvarchar](500) NOT NULL,
	[file_name] [nvarchar](255) NULL,
	[file_size] [bigint] NULL,
	[note] [nvarchar](max) NULL,
	[score] [decimal](5, 2) NULL,
	[status] [nvarchar](20) NOT NULL,
	[submitted_at] [datetime] NOT NULL,
	[graded_at] [datetime] NULL,
 CONSTRAINT [PK_Submissions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopicSuggestions]    Script Date: 6/5/2026 2:28:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopicSuggestions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[session_id] [int] NOT NULL,
	[lecturer_id] [int] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[max_groups] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_TopicSuggestions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 6/5/2026 2:28:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[user_id] [int] NOT NULL,
	[student_code] [nvarchar](20) NULL,
	[phone] [nvarchar](20) NULL,
	[avatar_url] [nvarchar](500) NULL,
	[department] [nvarchar](100) NULL,
	[bio] [nvarchar](500) NULL,
	[updated_at] [datetime] NOT NULL,
 CONSTRAINT [PK_UserProfiles] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/5/2026 2:28:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[is_active] [bit] NOT NULL,
	[last_login] [datetime] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[phone] [nvarchar](20) NULL,
	[degree] [nvarchar](50) NULL,
	[domain] [nvarchar](max) NULL,
	[max_quota] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Actor] FOREIGN KEY([actor_id])
REFERENCES [dbo].[Users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Actor]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Lecturer] FOREIGN KEY([lecturer_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Lecturer]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Session] FOREIGN KEY([session_id])
REFERENCES [dbo].[Sessions] ([id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Session]
GO
ALTER TABLE [dbo].[ClassStudents]  WITH CHECK ADD  CONSTRAINT [FK_ClassStudents_Class] FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClassStudents] CHECK CONSTRAINT [FK_ClassStudents_Class]
GO
ALTER TABLE [dbo].[ClassStudents]  WITH CHECK ADD  CONSTRAINT [FK_ClassStudents_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ClassStudents] CHECK CONSTRAINT [FK_ClassStudents_Student]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Submission] FOREIGN KEY([submission_id])
REFERENCES [dbo].[Submissions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Submission]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_User]
GO
ALTER TABLE [dbo].[Milestones]  WITH CHECK ADD  CONSTRAINT [FK_Milestones_Thesis] FOREIGN KEY([thesis_id])
REFERENCES [dbo].[Thesis] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Milestones] CHECK CONSTRAINT [FK_Milestones_Thesis]
GO
ALTER TABLE [dbo].[MilestoneTemplates]  WITH CHECK ADD  CONSTRAINT [FK_MilestoneTemplates_Class] FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MilestoneTemplates] CHECK CONSTRAINT [FK_MilestoneTemplates_Class]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_User]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Milestone] FOREIGN KEY([milestone_id])
REFERENCES [dbo].[Milestones] ([id])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Milestone]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Student]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Thesis] FOREIGN KEY([thesis_id])
REFERENCES [dbo].[Thesis] ([id])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Thesis]
GO
ALTER TABLE [dbo].[Thesis]  WITH CHECK ADD  CONSTRAINT [FK_Thesis_Class] FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([id])
GO
ALTER TABLE [dbo].[Thesis] CHECK CONSTRAINT [FK_Thesis_Class]
GO
ALTER TABLE [dbo].[Thesis]  WITH CHECK ADD  CONSTRAINT [FK_Thesis_Lecturer] FOREIGN KEY([lecturer_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Thesis] CHECK CONSTRAINT [FK_Thesis_Lecturer]
GO
ALTER TABLE [dbo].[Thesis]  WITH CHECK ADD  CONSTRAINT [FK_Thesis_Session] FOREIGN KEY([session_id])
REFERENCES [dbo].[Sessions] ([id])
GO
ALTER TABLE [dbo].[Thesis] CHECK CONSTRAINT [FK_Thesis_Session]
GO
ALTER TABLE [dbo].[Thesis]  WITH CHECK ADD  CONSTRAINT [FK_Thesis_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Thesis] CHECK CONSTRAINT [FK_Thesis_Student]
GO
ALTER TABLE [dbo].[Thesis]  WITH CHECK ADD  CONSTRAINT [FK_Thesis_Suggestion] FOREIGN KEY([suggestion_id])
REFERENCES [dbo].[TopicSuggestions] ([id])
GO
ALTER TABLE [dbo].[Thesis] CHECK CONSTRAINT [FK_Thesis_Suggestion]
GO
ALTER TABLE [dbo].[TopicSuggestions]  WITH CHECK ADD  CONSTRAINT [FK_TopicSug_Lecturer] FOREIGN KEY([lecturer_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[TopicSuggestions] CHECK CONSTRAINT [FK_TopicSug_Lecturer]
GO
ALTER TABLE [dbo].[TopicSuggestions]  WITH CHECK ADD  CONSTRAINT [FK_TopicSug_Session] FOREIGN KEY([session_id])
REFERENCES [dbo].[Sessions] ([id])
GO
ALTER TABLE [dbo].[TopicSuggestions] CHECK CONSTRAINT [FK_TopicSug_Session]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK_UserProfiles_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK_UserProfiles_Users]
GO
ALTER TABLE [dbo].[Milestones]  WITH CHECK ADD  CONSTRAINT [CK_Milestones_Status] CHECK  (([status]='completed' OR [status]='overdue' OR [status]='pending'))
GO
ALTER TABLE [dbo].[Milestones] CHECK CONSTRAINT [CK_Milestones_Status]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [CK_Submissions_Score] CHECK  (([score] IS NULL OR [score]>=(0) AND [score]<=(10)))
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [CK_Submissions_Score]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [CK_Submissions_Status] CHECK  (([status]='late' OR [status]='graded' OR [status]='submitted'))
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [CK_Submissions_Status]
GO
ALTER TABLE [dbo].[Thesis]  WITH CHECK ADD  CONSTRAINT [CK_Thesis_AdminStatus] CHECK  (([admin_status]='rejected' OR [admin_status]='approved' OR [admin_status]='pending'))
GO
ALTER TABLE [dbo].[Thesis] CHECK CONSTRAINT [CK_Thesis_AdminStatus]
GO
ALTER TABLE [dbo].[Thesis]  WITH CHECK ADD  CONSTRAINT [CK_Thesis_LecturerStatus] CHECK  (([lecturer_status]='rejected' OR [lecturer_status]='approved' OR [lecturer_status]='pending'))
GO
ALTER TABLE [dbo].[Thesis] CHECK CONSTRAINT [CK_Thesis_LecturerStatus]
GO
ALTER TABLE [dbo].[TopicSuggestions]  WITH CHECK ADD  CONSTRAINT [CK_TopicSug_Status] CHECK  (([status]='draft' OR [status]='closed' OR [status]='open'))
GO
ALTER TABLE [dbo].[TopicSuggestions] CHECK CONSTRAINT [CK_TopicSug_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([role]='student' OR [role]='lecturer' OR [role]='admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
USE [master]
GO
