<configuration>
  <system.webServer>
    <!-- Mapped index.js to iisnode handler -->
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Rewrite rules to route all incoming requests to index.js -->
    <rewrite>
      <rules>
        <rule name="NodeJS">
          <match url="/*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Exclude node_modules from being read directly -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
